/**
 * Less 混合（Mixins）工具库
 */

.clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }
  &:after {
    clear: both;
  }
}

.img-responsive(@display: block) {
  display: @display;
  max-width: 100%;
  height: auto;
}

.resizable(@direction) {
  resize: @direction;
  overflow: auto;
}

.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fixed-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex-box-center(@direction: row, @justify: center, @align-items: center) {
  display: flex;
  flex-direction: @direction;
  align-items: @align-items;
  justify-content: @justify;
}
